

Set Parameter NGenericEvents =   200
Set Parameter NTrgEvents =  1024
Set Parameter RssiFrames =    16


# ---------------------------------------------
# HPS Event Builder (client side) configuration
# ---------------------------------------------
Define Contributor  Generic0    GENERIC           \
                    Transport  = RSSI       \
                    Ip         = 127.0.0.1  \
                    Port       = 8192       \
                    RssiFrames = RssiFrames \
                    Events     = NGenericEvents \
                    Timeout    = 2


Define Contributor  Generic1   GENERIC        \
                    Transport  = RSSI       \
                    Ip         = 127.0.0.1  \
                    Port       = 8193       \
                    RssiFrames = RssiFrames \
                    Events     = NGenericEvents \
                    timeout    = 2


#Define Contributor  Trg0 TRIGGER                           \
#                    Transport      = PIPE                  \
#                    Name           = /tmp/triggerPipe  \
#                    Events         = NTrgEvents            \
#                    Timeout        = 2
#                    Batches        = default  \
#                    EventsPerBatch = default  \

# -----------------------------------------------------------



Define Collection    TwoGenerics Generic0, Generic1


#Include HfgInclude.cfg

# -----------------------------------------------------------
# Generic : Modify some of the parameters
#
# <name>.Transport
# <name>.Ip
# <name>.Port
# <name>.RssiFrames
# <name>.Events
# <mame>.Timeout
# -----------------
Set Generic0.RssiFrames = RssiFrames
Set Generic1.RssiFrames = RssiFrames
Set Generic1.Events     = 314
Set Generic0.Timeout    = 4
# -----------------------------------------------------------




# -----------------------------------------------------------
# TRIGGER : Set the more dynamic parameters
# ----------------------------------------------------------------------------
#             What     Type  Name  Buffering  # Batches  #Events/Batch   Enable
#      -----------  -------  ----  ---------  ---------  -------------   ------
#
#   Contributor  TRIGGER     2       default         10        dynamic  disable
# ----------------------------------------------------------------------------
#Set Trigger0.Nevents       = 80
#Set Trigger0.NBatches      = 10
#Set Trigger0.EventPerBatch = 16


Define  Configuration MyCfg \
                      Contributors = TwoGenerics \
                      LoggingLevel = Error   \
                      NFragments   = 100

Define Configuration Cfg2 \
                     Contributors = Generic0,Generic1 \
                     LoggingLevel = Critical  \
                     NFragments   = 200

Use Configuration MyCfg
#Use Configuration Cfg2
